<div class="h-[10vh] navbar bg-base-100 shadow-md px-4">
  <div class="navbar-start">
    <a href="/" class="btn btn-ghost text-xl font-bold">
      Modular Jobs
    </a>
  </div>
  <div class="navbar-end gap-3">
    <a
        href="https://discord.gg/jesSeaJgfa"
        target="_blank"
        rel="noopener"
        class="btn btn-ghost btn-circle"
        aria-label="Discord"
    >
      <img
          src="/Discord-Symbol-Blurple.svg"
          alt="Discord"
          class="w-6 h-6"
      />
    </a>
    <a
        href="https://github.com/mintychochip/ModularJobs"
        target="_blank"
        rel="noopener"
        class="btn btn-ghost btn-circle"
        aria-label="GitHub"
    >
      <img
          src="/GitHub_Invertocat_Light.svg"
          alt="GitHub"
          class="w-6 h-6"
      />
    </a>
    <a href="/wiki" class="btn btn-primary px-10 hover:bg-primary-content hover:text-primary">Wiki</a>
  </div>
</div>