---
import '../styles/global.css'

interface Props {
  title?: string;
  lang?: string;
  theme?: string;
}

const {title = 'ModularJobs', lang = 'en', theme = 'dark'} = Astro.props;
---

<html lang={lang} data-theme={theme}>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{title}</title>
</head>
<body>
<slot />
</body>
</html>
